version: '3.8'

services:
  postgress:
    image: postgres:15
    container_name: postgresLottery
    environment:
      POSTGRES_USER: Lottery
      POSTGRES_PASSWORD: aloka0777
      POSTGRES_DB: LottoTrack
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
  app:
    build: .
    container_name: LotteryApp
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: postgresql://Lottery:aloka0777@localhost:5432/LottoTrack
    depends_on:
      - postgress

volumes:
  postgres_data:
